{% load static %}

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark main-banner">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="fw-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="title text-yellow fw-bold">
      <h2>ESCOLHA SEU ARTIGO</h2>
  </div>

  <div class="row mb-2 blog-texts">
    {% for post in posts %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{ post.category }}</strong>
          <h3 class="mb-0">{{ post.title }}</h3>
          <div class="mb-1 text-muted">{{ post.date }}</div>
          <p class="card-text mb-auto">{{ post.short_description }}</p>
          <a href="{% url 'see_post' post.id %}" class="stretched-link">Continue lendo...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250"  role="img" src="{{ post.post_image.url }}">
        </div>
      </div>
    </div>
    {% endfor %}




<!--    <div class="col-md-6">-->
<!--      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">-->
<!--        <div class="col p-4 d-flex flex-column position-static">-->
<!--          <strong class="d-inline-block mb-2 text-success">Flask</strong>-->
<!--          <h3 class="mb-0">Flask: o que é e como codar</h3>-->
<!--          <div class="mb-1 text-muted">Nov 11</div>-->
<!--          <p class="mb-auto">O objetivo deste artigo é mostrar de forma prática...</p>-->
<!--          <a href="#" class="stretched-link">Continue lendo...</a>-->
<!--        </div>-->
<!--        <div class="col-auto d-none d-lg-block">-->
<!--          <img class="bd-placeholder-img" width="200" height="250"  role="img" src=""></img>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row mb-2">-->
<!--    <div class="col-md-6">-->
<!--      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">-->
<!--        <div class="col p-4 d-flex flex-column position-static">-->
<!--          <strong class="d-inline-block mb-2 text-primary">CherryPy</strong>-->
<!--          <h3 class="mb-0">CherryPy para desenvolvimento ágil</h3>-->
<!--          <div class="mb-1 text-muted">Nov 12</div>-->
<!--          <p class="card-text mb-auto">Saiba por que você deveria usar o CherryPy para desenvolvimento ágil!</p>-->
<!--          <a href="#" class="stretched-link">Continue lendo...</a>-->
<!--        </div>-->
<!--        <div class="col-auto d-none d-lg-block">-->
<!--          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md-6">-->
<!--      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">-->
<!--        <div class="col p-4 d-flex flex-column position-static">-->
<!--          <strong class="d-inline-block mb-2 text-success">Tornado</strong>-->
<!--          <h3 class="mb-0">Tornado: framework web Python</h3>-->
<!--          <div class="mb-1 text-muted">Nov 11</div>-->
<!--          <p class="mb-auto">Tornado é uma biblioteca de rede assíncrona, originalmente...</p>-->
<!--          <a href="#" class="stretched-link">Continue lendo...</a>-->
<!--        </div>-->
<!--        <div class="col-auto d-none d-lg-block">-->
<!--          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row mb-2 blog-texts">-->
<!--    <div class="col-md-6">-->
<!--      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">-->
<!--        <div class="col p-4 d-flex flex-column position-static">-->
<!--          <strong class="d-inline-block mb-2 text-primary">Django</strong>-->
<!--          <h3 class="mb-0">Como criar um Blog com Django e Python</h3>-->
<!--          <div class="mb-1 text-muted">Nov 12</div>-->
<!--          <p class="card-text mb-auto"></p>-->
<!--          <a href="#" class="stretched-link">Continue lendo...</a>-->
<!--        </div>-->
<!--        <div class="col-auto d-none d-lg-block">-->
<!--          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md-6">-->
<!--      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">-->
<!--        <div class="col p-4 d-flex flex-column position-static">-->
<!--          <strong class="d-inline-block mb-2 text-success">Flask</strong>-->
<!--          <h3 class="mb-0">Introdução e Tutorial ao Flask Python</h3>-->
<!--          <div class="mb-1 text-muted">Nov 11</div>-->
<!--          <p class="mb-auto">Nesse artigo iremos guiar vocês no processo de construir um API.</p>-->
<!--          <a href="#" class="stretched-link">Continue lendo...</a>-->
<!--        </div>-->
<!--        <div class="col-auto d-none d-lg-block">-->
<!--          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Scrapy</strong>
          <h3 class="mb-0">Introdução ao Scrapy - Python</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">Aprenda a utilizar o scrapy para extrair informações de páginas web.</p>
          <a href="#" class="stretched-link">Continue lendo...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Selenium</strong>
          <h3 class="mb-0">O que é Selenium?</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">Confira neste artigo o que é o Selenium e seu uso em testes automatizados.</p>
          <a href="#" class="stretched-link">Continue lendo...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2 blog-texts">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Pyautogui</strong>
          <h3 class="mb-0">Automação de GUI com Python</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">Módulo de automação de GUI que fornece métodos para controlar...</p>
          <a href="#" class="stretched-link">Continue lendo...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Matplotlib</strong>
          <h3 class="mb-0">Matplotlib: Conheça a biblioteca de gráficos!</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">Veja como o python matplotlib é uma tendência...</p>
          <a href="#" class="stretched-link">Continue lendo...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">PQt5</strong>
          <h3 class="mb-0">PyQt5 — O fantástico mundo das GUIs</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">Introduzindo estudos à nova versão do Qt com Python</p>
          <a href="#" class="stretched-link">Continue lendo...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Pandas</strong>
          <h3 class="mb-0">Pandas: vantagens e como começar</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">Com toda a certeza se você, entusiasta na área de ciência de dados você...</p>
          <a href="#" class="stretched-link">Continue lendo...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
  </div>
  </div>
</main>