{% load static %}

<main class="container">

  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark main-banner">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Blog dinâmico feito com Django</h1>
      <p class="lead my-3">Este blog foi desenvolvido com o framework Django em Python por Gustavo Cerebel e Cairo Augusto de Andrade.
      O blog contém um sistema de pesquisa inteligente e uma filtragem de matérias segundo o que o user escolher.</p>
    </div>
  </div>

  <div class="title text-yellow fw-bold">
      <h2>ESCOLHA SEU ARTIGO</h2>
  </div>

  <!--Search bar-->
  <br>
  <form method="get" action="{% url 'search' %}" style="max-width: 950px; padding-left: 200px;">
    <div class="form-group row">
      <div class="col-12">
        <input class="form-control"
               type="search" value="{{ request.GET.term }}"
               id="search-input"
               placeholder="Search"
               name="term">
      </div>
    </div>
  </form>

  <!--Nav filter links-->
  <div class="nav-scroller py-1 mb-2 white-text" style="padding-top: 30px !important;">
    <nav class="nav d-flex">
      <a class="p-2 link-secondary text-white" href="{% url 'see_library' %}">Bibliotecas</a>
      <a class="p-2 link-secondary text-white" href="{% url 'see_language' %}">Python</a>
      <a class="p-2 link-secondary text-white" href="{% url 'see_news' %}">Notícias</a>
<!--      <a class="p-2 link-secondary text-white" href="#">Design</a>-->
<!--      <a class="p-2 link-secondary text-white" href="#">Culture</a>-->
<!--      <a class="p-2 link-secondary text-white" href="#">Business</a>-->
<!--      <a class="p-2 link-secondary text-white" href="#">Politics</a>-->
<!--      <a class="p-2 link-secondary text-white" href="#">Opinion</a>-->
<!--      <a class="p-2 link-secondary text-white" href="#">Science</a>-->
<!--      <a class="p-2 link-secondary text-white" href="#">Health</a>-->
<!--      <a class="p-2 link-secondary text-white" href="#">Style</a>-->
<!--      <a class="p-2 link-secondary text-white" href="#">Travel</a>-->
    </nav>
  </div>

  <div class="row mb-2 blog-texts" style="padding-top: 0px !important;">
    {% for post in posts %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{ post.category }}</strong>
          <h3 class="mb-0">{{ post.title }}</h3>
          <div class="mb-1 text-muted">{{ post.date }} | por <strong>{{ post.author }}</strong></div>
          <p class="card-text mb-auto">{{ post.short_description }}</p>
          <a href="{% url 'see_post' post.id %}" class="stretched-link">Continue lendo...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250"  role="img" src="{{ post.post_image.url }}">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</main>

<!--Pagination-->
<nav aria-label="Page navigation example" style="padding-left: 70px;">
  <ul class="pagination">
  <li class="page-item">
      <a class="page-link" href="?p={{ posts.paginator.1 }}1" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
  {% for pag in posts.paginator.page_range %}
    {% if posts.number == pag %}
      <li class="page-item active">
        <a class="page-link" href="?p={{ pag }}">{{ pag }}</a>
      </li>
    {% else %}
       <li class="page-item ">
        <a class="page-link" href="?p={{ pag }}">{{ pag }}</a>
      </li>
    {% endif %}
  {% endfor %}
  <li class="page-item">
      <a class="page-link" href="?p={{ posts.paginator.2 }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
