
<footer class="bg-dark text-center text-white">
    <!--Grid container -->
    <div class="container p-4 pb-0">

      <!--Part of Cairo info-->
      <!-- Section: Social media -->
      <section class="mb-4" style="display: inline-flex;">

        <div style="padding-right: 70px;">Cairo Agusto de Andrade:
            <!-- Email -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab"><img src="https://github.com/CairoDeAndrade/meu-portifolio/blob/main/mail.png?raw=true" alt=""
            style="width: 30px; height: 30px; border-radius: 50%;"></i
            ></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab"><img src="https://github.com/CairoDeAndrade/meu-portifolio/blob/main/instagram.png?raw=true" alt=""
            style="width: 30px; height: 30px; border-radius: 50%;"></i
            ></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab"><img src="https://github.com/CairoDeAndrade/meu-portifolio/blob/main/linkedin.png?raw=true" alt=""
            style="width: 30px; height: 30px; border-radius: 50%;"></i
            ></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab"><img src="https://github.com/CairoDeAndrade/meu-portifolio/blob/main/github.png?raw=true" alt=""
            style="width: 30px; height: 30px; border-radius: 50%;"></i
            ></a>
        </div>

          <div class="separator"></div>

        <!--Part of Cerebel info-->

        <div> Gustavo Cerebel:
            <!-- Email -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab"><img src="https://github.com/CairoDeAndrade/meu-portifolio/blob/main/mail.png?raw=true" alt=""
            style="width: 30px; height: 30px; border-radius: 50%;"></i
            ></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab"><img src="https://github.com/CairoDeAndrade/meu-portifolio/blob/main/instagram.png?raw=true" alt=""
            style="width: 30px; height: 30px; border-radius: 50%;"></i
            ></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab"><img src="https://github.com/CairoDeAndrade/meu-portifolio/blob/main/linkedin.png?raw=true" alt=""
            style="width: 30px; height: 30px; border-radius: 50%;"></i
            ></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab"><img src="https://github.com/CairoDeAndrade/meu-portifolio/blob/main/github.png?raw=true" alt=""
            style="width: 30px; height: 30px; border-radius: 50%;"></i
            ></a>
        </div>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a href="#">GC'sBlog.com</a>
      <div class="voltar-topo">
          <p>
            <a class="text-white" href="#">Voltar para o topo</a>
            </p>
      </div>
    </div>
    <!-- Copyright -->
</footer>
